body {
  margin: 0;
  padding: 0;
  font-family: "monaco", sans-serif; 
  background-color: rgb(76,30,0);
}

.container1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(billeder/pattern2.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  background-attachment: fixed;
}

.container2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
}

.container3 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(billeder/database.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  background-attachment: fixed;
}

#baggrundsVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: auto;
}

#spilogleg {
  margin-top: 2%;
  width: 80%;
  height: auto;
  border: 5px solid black;
}

.spilknap {
  border: none;
  border-radius: 5px;
  font-family: "monaco";
  font-size: 30px;
  padding: 2% 5%;
  color: white;
  background-color: rgb(36, 44, 199);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition-duration: 0.5s;
}

.spilknap:hover {
  background-color: rgb(70, 79, 250);
}

.dataknap {
  border: none;
  border-radius: 5px;
  font-family: "monaco";
  font-size: 30px;
  padding: 20px 50px;
  color: rgb(230,190,124);
  background-color: rgb(76,30,0);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition-duration: 0.5s;
}

.dataknap:hover {
  color: rgb(76,30,0);
  background-color: rgb(230,190,124);
}

.nav {
  background-color: rgb(76,30,0);
  overflow: hidden;
}

.nav a {
  float: left;
  color: rgb(230,190,124);
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: rgb(230,190,124);
  color: rgb(76,30,0);
}

.nav a.active {
  background-color: rgb(36, 44, 199);
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

p {font-family: "monaco"; font-size: 17px;}
h1 {font-family: "georgia"; font-size: 40px;}
h2 {font-family: "georgia"; font-size: 30px;}
ol {font-family: "monaco"; font-size: 15;}

.div1 {
  width: 39%;
  height: auto;
  position: absolute;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom-right-radius: 30px;
  border: 7px solid rgb(76,30,0);
  background:rgb(230,190,124);
  box-shadow: 7px 7px 80px black;
}

.div2 {
  width: 39%;
  height: auto;
  position: relative;
  padding: 20px;
  margin-right: 5%;
  margin-left: 5%;
  float: right;
  border-bottom-right-radius: 30px;
  border: 7px solid rgb(76,30,0);
  background:rgb(230,190,124);
  box-shadow: 7px 7px 80px black;
}

.div-web {
  width: 85%;
  height: auto;
  position: absolute;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom-right-radius: 30px;
  border: 7px solid rgb(76,30,0);
  background:rgb(230,190,124);
  box-shadow: 7px 7px 80px black;
}

.div-vid {
  position: absolute;
  top: 10%;
  height: auto;
  width: 50%;
  margin-left: 5%;
  padding: 10px;
  background: rgb(0,0,0,0.7);
  box-shadow: 0px 0px 30px 30px rgb(0,0,0,0.7);
}

.div-vid2 {
  width: 90%;
  height: auto;
  padding: 20px;
  margin: auto;
  padding-top: 0px;
}

.div-spil {
 width: 60%;
 height: 75%;
 margin: 5%;
 margin-top: 2%;
 margin-bottom: 3%;
 padding: 20px;
 border-bottom-right-radius: 30px;
 border: 7px solid rgb(76,30,0);
 background:rgb(230,190,124);
 box-shadow: 7px 7px 80px black;
 position: absolute;
}

.div-spil2 {
  width: 20%;
  height: 80%;
  margin: 5%;
  left: 66%;
  margin-top: 2%;
  margin-bottom: 3%;
  position: relative;
  border-bottom-right-radius: 30px;
  border: 7px solid rgb(76,30,0);
  background:rgb(230,190,124);
  box-shadow: 7px 7px 80px black;
 }

.div-p5 {
  width: 100%;
  height: 220%;
  padding: 2px;
  position: relative;
  background-image: linear-gradient(to bottom right, white,rgb(36, 44, 199));
  border-top: 7px solid rgb(76,30,0);
}

.div-data-forside {
  width: 65%;
  height: auto;
  position: relative;
  margin-top: 8%;
  margin-left: 8%;
}

.div-data-knap {
  width: 45%;
  height: auto;
  position: relative;
  margin: 4%;
  align-items: center;
}

.div-data {
  width: 65%;
  height: auto;
  position: relative;
  margin-left: 5%;
}

.div-data-billede {
  width: 45%;
  height: auto;
  position: absolute;
  margin-left: 5%;
}

.div-data2 {
  height: fit-content;
  width: 98%;
  padding: 2%;
  background-image: linear-gradient(to bottom, black,rgb(36, 44, 199));
  border-top: 7px solid rgb(76,30,0);
}



pre code {
    background-color: white;
    display: block;
    border: 2px solid black;
    font-size: 15px;
    color: dimgray;
}

.cursive {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.centertext {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(76,30,0);
}

