body {
    background: rgb(222,208,191);
    font-family: "helvetica"; 
    font-size: 15px;
}

.nav {
  background-color: rgb(76,30,0);
  overflow: hidden;
}

.nav a {
  float: left;
  color: rgb(230,190,124);
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: rgb(230,190,124);
  color: rgb(76,30,0);
}

.nav a.active {
  background-color: rgb(220,180,114);
  color: rgb(76,30,0);
}

p {font-family: "helvetica"; font-size: 19px;}
ol {font-family: "helvetica";}
/*h1 {font-family: "helvetica"; background: rgb(245,232,224); border: 4px solid black; border-bottom-right-radius: 15px} */
h2 {font-family: "helvetica";}


.div1 {
  width: 40.5%;
  height: auto;
  position: absolute;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom-right-radius: 30px;
  border: 4px solid black;
  background: rgb(255,246,224);
}


.div2 {
  width: 40.5%;
  height: auto;
  padding: 20px;
  margin-right: 5%;
  margin-left: 5%;
  float: right;
  border-bottom-right-radius: 30px;
  border: 4px solid black;
  background: rgb(255,246,224);
}


.cdiv {
  width: 70%;
  height: auto;
  position: absolute;
  padding: 20px;
  left: 13%;
  border-bottom-right-radius: 30px;
  border: 4px solid black;
  background: rgb(255,246,224);
}

pre code {
    background-color: white;
    display: block;
    border: 2px solid black;
    font-size: 15px;
    color: dimgray;
}

.cursive {
    font-size: 15px;
    font-style: italic;
}

.centertext {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

